<div class="home-container">

    <div class="top-section">
        <div id="big-circle"
            class="circle"
            appParallax
            [ratio]="0.2"
            [direction]="'up'"></div>
        <div class="circle"
            id="medium-circle"
            appParallax
            [ratio]="0.5"
            [direction]="'up'"></div>
        <div class="circle"
            id="small-circle"
            appParallax
            [ratio]="0.7"
            [direction]="'up'"></div>
        <h1 class="home-name-title first-name">Jesús Sánchez</h1>
        <h3 class="home-name-title subtext">Web developer</h3>
    </div>
    <div class="bottom-section"
        appFadeOnScroll
        [ratio]="0.4">
        <h1 class="home-name-title second-name">Rodríguez</h1>
        <div class="button-section">
            <a target="new" href="https://github.com/jesusmsr"><i class="fa-brands fa-github icon"></i></a>
            <a target="new" href="https://www.linkedin.com/in/jesus-sanchez-213a5a210/"><i class="fa-brands fa-linkedin icon"></i></a>
            <i class="fa-solid fa-at icon"></i>
        </div>
        <div class="dark-section">
            <h1 data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">About me</h1>


            <div class="terminal-container" data-aos="fade-left" data-aos-offset="300">
                <div class="terminal-header">
                    <div class="dots-container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="terminal-content">
                    <p>> I'm a 22 year old web developer.</p>
                    <p>> I have over one year of experience working with Angular and Spring.</p>
                    <p>> Familiar with Agile methodology.</p>
                    <p>> Passionate about what I do and always trying to learn new things and improve.</p>
                    <p>> Apart from web development, I like to code in general and experiment with other technologies. I'm a big fan of raspberry pi and IoT.<p>
                </div>
            </div>


        </div>
    </div>

</div>